.navbar ul li {
  padding: 0 25px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.navbar ul li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  line-height: 24px;
  color: #a72121;
}

.navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.logo1 img {
  top: -100px;
  left: -110px;
  position: absolute;
  scale: 0.5;
}

body {
  background-color: rgb(255 230 234);
}

.card-hover {
  opacity: 0.8;
  width: 300px;
  height: 480px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
}

.card-hover:has(.card-hover__link:hover) .card-hover__extra {
  transform: translateY(0);
  transition: transform 0.35s;
}

.card-hover:hover .card-hover__content {
  background-color: #dee8c2;
  bottom: 100%;
  transform: translateY(100%);
  padding: 50px 60px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover .card-hover__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover img {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content {
  width: 100%;
  text-align: center;
  background-color: #86b971;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
}

.card-hover__content::before,
.card-hover__content::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}

.card-hover__content::before {
  top: -80px;
  -webkit-clip-path: ellipse(60% 80px at bottom center);
  clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
  bottom: -80px;
  -webkit-clip-path: ellipse(60% 80px at top center);
  clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.card-hover__title span {
  color: #2d7f0b;
}

.card-hover__text {
  font-size: 0.75rem;
}

.card-hover__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #2d7f0b;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}

.card-hover__link:hover svg {
  transform: translateX(4px);
}

.card-hover__link svg {
  width: 18px;
  margin-left: 4px;
  transition: transform 0.3s;
}

.card-hover__extra {
  height: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: #86b971;
  padding: 80px;
  bottom: 0;
  z-index: 0;
  color: #dee8c2;
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.35s;
}

.card-hover__extra span {
  color: #2d7f0b;
}

.card-hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.gallery {
  --g: 8px;
  /* the gap */
  --s: 400px;
  /* the size */
  display: grid;
  border-radius: 50%;
}

.gallery > img {
  grid-area: 1/1;
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: 0.3s, z-index 0s 0.3s;
}

.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform 0.2s, clip-path 0.3s 0.2s, z-index 0s;
}

.gallery:hover img {
  transform: translate(0, 0);
}

.gallery > img:nth-child(1) {
  clip-path: polygon(
    50% 50%,
    calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)),
    0 calc(100% * var(--_i, 0)),
    0 0,
    100% 0,
    100% calc(100% * var(--_i, 0)),
    calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0))
  );
  --_y: calc(-1 * var(--g));
}

.gallery > img:nth-child(2) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% - 100% * var(--_i, 0)) 0,
    100% 0,
    100% 100%,
    calc(100% - 100% * var(--_i, 0)) 100%,
    calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: var(--g);
}

.gallery > img:nth-child(3) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)),
    100% calc(100% - 120% * var(--_i, 0)),
    100% 100%,
    0 100%,
    0 calc(100% - 100% * var(--_i, 0)),
    calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0))
  );
  --_y: var(--g);
}

.gallery > img:nth-child(4) {
  clip-path: polygon(
    50% 50%,
    calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% * var(--_i, 0)) 0,
    0 0,
    0 100%,
    calc(100% * var(--_i, 0)) 100%,
    calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: calc(-1 * var(--g));
}

.blog {
  color: #fff;
  font-size: 24px;
}

.thongtin {
  display: none;
}

#thongtin5 {
  display: block;
}

/*
-------------- Basic Reset Css ----------
 */

.monannoibat {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/* -------- ----------- */

.cont_principal {
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfaf6+9,d4cebf+74,d4cebf+74,d4cebf+100 */
  background: rgb(251, 250, 246);
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(251, 250, 246, 1) 9%,
    rgba(212, 206, 191, 1) 74%,
    rgba(212, 206, 191, 1) 74%,
    rgba(212, 206, 191, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(251, 250, 246, 1) 9%,
    rgba(212, 206, 191, 1) 74%,
    rgba(212, 206, 191, 1) 74%,
    rgba(212, 206, 191, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(251, 250, 246, 1) 9%,
    rgba(212, 206, 191, 1) 74%,
    rgba(212, 206, 191, 1) 74%,
    rgba(212, 206, 191, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cont_central {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -200px;
}

.cont_modal {
  position: relative;
  width: 300px;
  height: 400px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_photo {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 5px;
  top: -20px;
  float: left;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.cont_img_back > img {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 1s;
}

.cont_img_back:hover > img {
  transform: scale(1.5);
}

.cont_text_ingredients {
  position: absolute;
  width: 0px;
  top: 0px;
  left: 290px;
  margin-left: 10px;
  height: 400px;
  float: left;
  border-radius: 5px;
  z-index: 3;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
  background: rgb(251, 249, 249);
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(251, 249, 249, 1) 28%,
    rgba(232, 234, 237, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(251, 249, 249, 1) 28%,
    rgba(232, 234, 237, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(251, 249, 249, 1) 28%,
    rgba(232, 234, 237, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_mins {
  position: relative;
  float: left;
  width: 100%;
}

.sub_mins {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  margin-bottom: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.sub_mins > h3 {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: -15px;
}

.sub_mins > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_servings {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_servings > h3 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.cont_servings > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_icon_right {
  position: relative;
  float: right;
  margin-top: 16px;
}

.cont_icon_right > a {
  margin: 16px;
  margin-top: 16px;
  color: #fff;
}

.cont_detalles {
  position: absolute;
  bottom: -185px;
  height: 200px;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_detalles > h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
}

.cont_detalles > p {
  color: #fff;
  width: 80%;
  text-align: left;
  font-size: 14px;
}

/* ---------------- Css Tabs -------- */

.cont_tabs {
  position: relative;
  float: left;
  width: 410px;
  height: 60px;
  border-bottom: 3px solid #ededec;
}

.cont_tabs > ul {
  width: 300px;
  background-color: #eee;
}

.cont_tabs > ul > li {
  position: relative;
  float: left;
  width: 50%;
  list-style: none;
}

.cont_tabs > ul > li > a {
  border-top: 7px solid #ed346c;
  position: relative;
  display: block;
  float: left;
  padding-top: 15px;
  color: #241c3e;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

.cont_tabs > ul > li:first-child > a {
  border-top: 7px solid rgba(237, 52, 108, 0);
  margin-top: 0px;
  color: #9a96a4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.2s;
}

.cont_tabs > ul > li:first-child > a:hover {
  border-top: 7px solid #ed346c;
  padding-top: 15px;
  color: #241c3e;
  margin-top: 0px;
}

.cont_btn_open_dets {
  position: absolute;
  right: -15px;
  top: 50%;
}

.cont_btn_open_dets > a {
  display: block;
  padding-top: -5px;
  width: 30px;
  height: 30px;
  background-color: #ed2460;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 20px -2px rgba(237, 36, 96, 1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  transform: rotate(180deg);
}

.cont_btn_open_dets > a > i {
  margin-top: 4px;
}

.cont_title_preparation {
  position: relative;
  float: left;
  margin: 10px 0px;
  width: 410px;
}

.cont_title_preparation > p {
  font-weight: 700;
  font-size: 14px;
  margin-left: 40px;
  text-align: left;
  color: #36354e;
}

.cont_info_preparation {
  position: relative;
  float: left;
}

.cont_info_preparation > p {
  margin: 5px 0px;
  margin-left: 50px;
  border-left: 2px solid #e3e3e3;
  font-size: 12px;
  padding: 20px 0px;
  padding-left: 20px;
  text-align: left;
  padding-right: 15px;
  color: #565656;
}

.cont_btn_mas_dets {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.cont_btn_mas_dets > a {
  color: #36354e;
}

.cont_over_hidden {
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.cont_text_det_preparation {
  position: relative;
  width: 410px;
}

.cont_modal_active > .cont_text_ingredients > .cont_btn_open_dets > a {
  transform: rotate(0deg);
}

.cont_modal_active > .cont_text_ingredients {
  width: 410px;
  left: 285px;
  z-index: 1;
  box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
}

.cont_modal_active {
  width: 700px;
}

.cont_modal_active > .cont_photo {
  box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
}

.cont_modal_active > .cont_photo > .cont_mins > .sub_mins {
  opacity: 1;
}

.cont_modal_active > .cont_photo > .cont_servings {
  opacity: 1;
}

.cont_modal_active > .cont_photo > .cont_detalles {
  bottom: 0px;
}

.monannoibat {
  display: block;
}

.box-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -999;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 0, 0, 0.2);
  animation: animate2 20s linear infinite;
  bottom: -150px;
  border-radius: 5px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5ss;
}

@keyframes animate2 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.btn-control:hover {
  background-color: #1fb1cb !important;
  font-weight: bold;
}

.btn-control {
  font-size: large;
  color: black;
  background-color: rgba(66, 205, 229, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* rghrugre */

.row__card {
  overflow: hidden;
}

.row__card .cardslide {
  padding-left: 0;
}

.row__card .slick-dots {
  display: flex !important;
  justify-content: center;
  list-style-type: none;
}

.row__card .slick-dots button {
  margin: 0 0.4rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 25px;
  height: 1.8rem;
  width: 1.8rem;
}

.object-card-images {
  background-color: #ffbcbe;
  margin: 10px 10px;
  height: 275px;
  border-radius: 10px;
}

.row__card .img-avatar {
  width: 90%;
  height: 160px;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
}

.row__card .img-avatar img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.row__card .text-avatar {
  padding-left: 0.5rem;
}

.row__card .text-avatar p {
  padding-left: 0.5rem;
}
